    
.home{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}
  .dashboard-sider {
        max-width: 256px;
        min-width: 256px;
        width: 256px;
        position: relative;
    }
    .dashboard-main {
        background-color: #fff;
        position: relative;
        min-width: 468px;
        z-index: 1;
    }